
@font-face{
    font-family: 'Spartan-extrabold';
    src: url('./assets/fonts/SpartanMB-Extra-Bold.otf') format('otf');
    font-weight: 600;
    font-style: bold;
}

html{
    background-color: #E9D8A6;
    
    overflow:hidden;
}

body{
    margin: 0;
}


#container {
  
    position:relative;
    height: 100vh;
    width: 100vw;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

}

#black-bar{
    grid-row: 6 / 7;
    grid-column: 1 / 7;
    background-color: #001219;
    display: flex;
    flex-direction:row-reverse;
}

#lateral-bars{
    position: absolute;
    display: flex;
    height: 100vh;
    min-width: 8%;
    width:auto;
    background-color: white;
    right: 0%;
}

#project{
    width: 3rem;
    height: 100vh;
    background-color: #ee9b00;
    right: 8%;
    transition: 0.5s ease-in-out;
    display: flex;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
   
    
}

.lateral-menu-names {
    height: 2rem;
    transform:rotate(90deg);
    width: 5rem;
    white-space: nowrap;
    transition: 0.5s;
   
}

#project:hover {
    width:4rem;
    padding-left: 10px;
    padding-right: 3px;
    
}

#project:hover .lateral-menu-names{
    transform:rotate(0deg);
    
}

#about-me{
    height: 100vh;
    width: 3rem;
    background-color: #0a9396;
    right: 8%;
    transition: 0.5s;
    display: flex;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
   
}

#about-me:hover {
    width:4rem;
    padding-left: 10px;
    padding-right: 10px;
    
}

#about-me:hover .lateral-menu-names{
    transform:rotate(0deg);
    
}

#contact{
    height: 100vh;
    width: 3rem;
    background-color: #ae2012;
    right: 8%;
    transition: 0.5s;
    display: flex;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}



#contact:hover {
    width:4rem;
    padding-left: 10px;
    padding-right: 3px;
    
}

#contact:hover .lateral-menu-names{
    transform:rotate(0deg);
    
}

#main-name{
    display:flex;
    align-self:flex-end;
    grid-row: 5 / 6;
    grid-column: 1 / 6;
    font-size: 6rem;
    margin-bottom: 0px;
    font-family:'Spartan-extrabold';
    padding-left: 3rem;
    transform: translatey(25px)
}

#arrow{
    grid-row:6/7;
    grid-column: 5/6;
    filter:invert(100%);
   
    height: 3rem;
    align-self: center;
    justify-self: center;
    transition: 0.5s;
    margin-right:20%;
}

#black-bar:hover #arrow{
    transform: translateX(3rem);
    
}
